/* global styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* primary colors */
    --Lime-color: hsl(61, 70%, 52%);
    --error-color: hsl(4, 69%, 50%);

    /* neutral colors */
    --White-color: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
}

@font-face {
    font-family: main-font-bold;
    src: url("./assets/fonts/static/PlusJakartaSans-Bold.ttf");
}

@font-face {
    font-family: main-font-medium;
    src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf");
}
@font-face {
    font-family: error-font;
    src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: main-font-variable;
    src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

/* body styles */
body {
    background-color: var(--Slate-300);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: main-font-variable;
}

/* main section styles */
main {
    border-radius: 1rem;
    width: 640px;
    display: flex;
    background-color: var(--White-color);
    justify-content: center;
}

/* input-container styles */
.input-container {
    /* background-color: var(--White-color); */
    flex: 1 1 50%;
    padding: 2rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}

.title-p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: main-font-bold;
    color: var(--Slate-900);
}

.reset-p {
    border-bottom: 1px dotted var(--Slate-500);
    font-size: 1.2rem;
    color: var(--Slate-300);
}

.reset-p:hover {
    cursor: pointer;
}

.label {
    /* border: 1px solid green; */
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--Slate-300);
}

.container {
    margin: 0.5rem 0;
}

.amount-container {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    background-color: var(--Slate-100);
    margin-top: 0.5rem;
    color: var(--Slate-900);
}

.amount-container.clicked,
.term-container.clicked,
.rate-container.clicked {
    background-color: var(--Lime-color);
    border: 1px solid var(--Lime-color);
}


.amount-container,
.term {
    border: 1px solid var(--Slate-500);
    border-radius: 0.5rem;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline: none;
    border: none;
    padding: 0.5rem;
    color: var(--Slate-900);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}


.amount-input {
    width: 90%;
    border-radius: 0 0.5rem 0.5rem 0;
}


.number-label {
    width: 10%;
    background-color: transparent;
    height: 100%;
   
}

.number-label p {
    width: 10%;
    text-align: center;
    padding-left: 1rem;
    color: var(--Slate-900);
}

.terms-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.term {
    background-color: var(--Slate-100);
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.term input {
    width: 80%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.term p {
    text-align: center;
    width: 30%;
    color: var(--Slate-900);
}

.radio-buttons-container {
    width: 100%;
    /* border: 1px solid blue; */
}

.radio-item {
    display: flex;
    width: 100%;
    gap: 2rem;
    border: 1px solid var(--Lime-color);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.radio-item  p{
    width: 100%;
    font-size: 1.2rem;
    color: var(--Slate-900);
}

.repayment-radio-container:hover,
.interest-icon-container:hover {
    cursor: pointer;
    box-shadow: 3px 3px 12px var(--Slate-100);
}

.repayment-radio-container.selected,
.interest-icon-container.selected {
    background-color: var(--Lime-color);
    border: 1px solid var(--Lime-color);
}

/* custome radio styles */
.radio-container {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0 1rem 2rem 0;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--Slate-100);
}


.repayment-radio-container:hover .radio-container input ~.checkmark,
.interest-icon-container:hover .radio-container input ~.checkmark {
    background-color: var(--Slate-700);
}

.radio-container input:checked ~ .checkmark {
  background-color: var(--Slate-700);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--White-color);
    box-shadow: 4px 1px 18px var(--Slate-100);
   
}


button {
    outline: none;
    border: none;
    background-color: var(--Lime-color);
    border-radius: 2rem;
    padding: 1rem;
    margin: 2.5rem 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Slate-900);
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 12px var(--Slate-100);
}

button img {
    width: 1.1rem;
    height: 1.4rem;
}

/* error state */
/* .error {
    color: var(--error-color);
} */

.input-amount-error,
.rate-input-error,
.term-input-error,
.radio-input-error {
    color: var(--error-color);
    display: none;
}

.amount-container.error-state,
.term-container.error-state,
.rate-container.error-state {
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
}

/* radio styles */

  

/* results styles */
.results-container {
    background-color: var(--Slate-900);
    border-radius: 0px 1rem 1rem 5rem;
    flex: 1 1 50%;
    padding: 2rem;
    display: none;
}

.result-title {
    color: var(--White-color);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: main-font-bold;
}

.results-subtitle {
    color: var(--Slate-300);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.payment-container {
    background-color: rgb(1, 1, 29);
    border-radius: 0.5rem;
    border-top: 3px solid var(--Lime-color);
    padding: 2rem;
    margin-bottom: 2.5rem;
}

.payment-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--White-color);
    
}

.monthly-repayment {
    font-size: 3rem;
    color: var(--Lime-color);
    margin-bottom: 1rem;
   font-family: main-font-bold;
}


.total-title {
    color: var(--White-color);
    font-size: 1.2rem;
    margin: 2rem 0 0.5rem;
}

.grand-total {
    color: var(--White-color);
    font-size: 1.4rem;
}

/* empty results styles */
.empty-results-container {
    background-color: var(--Slate-900);
    border-radius: 0px 1rem 1rem 5rem;
    flex: 1 1 50%;
    padding: 2rem;
    color: var(--White-color);
}

.empty-results-container img {
    margin: 2.5rem 7rem 1rem ;
    width: 15rem;
    /* border: 1px solid yellow; */
   display: inline-block;

}

.empty-results-container h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--White-color);
}

.empty-results-container p {
    text-align: center;
    font-size: 1.1rem;
    /* padding: 0 2rem; */
    line-height: 1.4;
    color: var(--Slate-300);
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        width: 55%;
        border-radius: 0px 0rem 1rem 5rem;
    }

    .results-container {
        border-radius: 0px 0rem 1rem 5rem;
    }

    .empty-results-container {
        border-radius: 0px 0rem 1rem 5rem;
    }
}

@media  screen and (max-width: 500px) {
    main {
        width: 60%;
    }

    .title {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .terms-container {
        flex-direction: column;
        gap: 0.5rem;
        /* border: 1px solid red; */
    }

    .mortgage-term-container,
    .mortgage-rate-container {
        /* border: 1px solid green; */
        width: 100%;
    }


}

@media screen and (max-width: 400px) {
    main {
        width: 100%;
        border-radius: 0px;
    }

    .results-container {
        border-radius: 0px;
    }

    .empty-results-container {
        border-radius: 0px;
    }

    .empty-results-container img {
        width: 13rem;
    }

    button {
        margin: 2.5rem auto;
    }
}